{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<div class="container">
    <a href="{{ path('app_home')}}" class="btn btn-steamish p-1">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>
    <h1>Welcome on board Captain!</h1>
</div>
{% endblock %}
