{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row">
            {% for myGame in gameEntities %}
                <div class="card-game col-12 col-sm-6 col-md-4 col-lg-3">
                    <a class="text-decoration-none" href="{{ path('gameSlug', {'slug': myGame.slug}) }}">
                        <div class="container-image">
                            <img src="{{ myGame.thumbnailCover }}" alt="...">
                            <div class="container-price" [hidden]="!displayPrice">
                                {{ myGame.price }}€
                            </div>
                        </div>
                    </a>
                    
                    <p class="game-title text-center">{{ myGame.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
