{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row">
            {% for myGame in gameEntities %}
                <div class="card-game col-12 col-md-4 col-lg-3">
                    {% include "game/_card.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
