{% extends 'base-front.html.twig' %}

{% block title %}{{ genre.name }}{% endblock %}

{% block body %}
    {# {{ dump(genreGames) }} #}

    <div class="container my-3">
        <h2>{{ genre.name }}</h2>

        <div class="row">
            {% for myGame in genreGames %}
                <div class="card-game col-12 col-md-4 col-lg-3">
                    {% include "game/_card.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
