a{
    text-decoration: none;
}

.logo{
    color: $orangeIG;
    font-family: $font-heading ;
    font-size: 4em;
    &:hover{
        color: $whiteIG;
    }
}

.btn-orange {
    color: $white;
    background-color: $orangeIG;
    border-color: $orangeIG;
}

.Splus{
    font-size: 1.2em; 
}
