body{
    background-color: $greyIG;
    color: $whiteIG;
}

li{
    list-style:none;
}

.bg-darko{
    background-color: $darkGreyIG;
}

.link{
    margin-top: 0.5em;
    text-decoration: none;
    color: $whiteIG;
    &:hover{
        color: $orangeIG;
    }
}