body{
    background-color: $greyIG;
    color: $whiteIG;
}

li{
    list-style:none;
}

.bg-darko{
    background-color: $darkGreyIG;
}

.bg-lighto{
    background-color: $lightGreyIG;
}

.bg-greyo{
    background-color: $greyIG;
}

.link{
    margin-top: 0.5em;
    text-decoration: none;
    color: $whiteIG;
    
    &:hover{
        color: $orangeIG;
    }
}

.linktwo{
    margin-top: 0.5em;
    text-decoration: none;
    color: $whiteIG;
    
    &:hover{
        color: $darkGreyIG;
    }
}

.pagination{
    font-size: 20px;
    color: $whiteIG;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 20%;
        padding: 0.3rem;
        background-color: $orangeIG;
    }

    a{
        color: $whiteIG;
        text-decoration: none;
        &:hover{
            cursor: pointer;
        }
    }
}

.linkthree{
    text-decoration: none;
    color: $whiteIG;

    &:hover{
        color: $orangeIG;
    }
}