body{
    background-color: $greyIG;
    color: $whiteIG;
}

li{
    list-style:none;
}

.bg-darko{
    background-color: $darkGreyIG;
}

.bg-lighto{
    background-color: $lightGreyIG;
}

.bg-greyo{
    background-color: $greyIG;
}