<div class="container-fluid">
    <div class="row common bg-darko">
        <div class="col-sm-12 col-md-12 col-lg-3 mt-3">
            <a class="logo" href="{{ path('app_home') }}">Steamish</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mt-3">
            <ul class="text-light">
                <li><a class="link" href="#">Les conditions de vente</a></li>
                <li><a class="link" href="#">Politique de confidentialité</a></li>
                <li><a class="link" href="#">Nous contacter</a></li>
                <li><a class="link" href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
            <div class="row">
                <div class="icons m-3 col-2">
                    <a class="twitter" target="_blank" href="https://twitter.com/InstantGamingFR"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                </div>
                <div class="icons m-3 col-2">
                    <a class="instagram" target="_blank" href="https://www.instagram.com/?hl=fr"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                </div>
                <div class="icons m-3 col-2">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                </div>
                <div class="icons m-3 col-2">
                    <a class="youtube" target="_blank" href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2xl"></i></a>
                </div>
                <div class="icons m-3 col-2">
                    <a class="twitch" target="_blank" href="https://www.twitch.tv/"><i class="fa-brands fa-twitch fa-2xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>