<nav class="navbar navbar-expand-lg navbar-dark common bg-darko fixed-top">
  <div class="container-fluid">
    <a class="logo" href="{{ path('app_home') }}">Steamish</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row mx-auto">
        <div class="col-12">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around">
            <li class="nav-item">
              <a class="link Splus m-4" href="#sorties">Les dernières sorties</a>
            </li>
            <li class="nav-item">
              <a class="link Splus m-4" href="#most">Les jeux les plus joués</a>
            </li>
            <li class="nav-item">
              <a class="link Splus m-4" href="#best">Les meilleures ventes</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
            <li class="">
              <a class="link Splus m-5" href="{{ path('games') }}">Tous les jeux</a>
            </li>
            <li class="nav-item">
              <a class="link Splus m-5" href="{{ path('app_publisher') }}">Les éditeurs partenaires</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-orange" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div>
          <a a href="#" class="btn btn-steamish mt-3">Connect</a>
        <div>
      <div>
    </div>
  </div>
</nav>