{% extends "base.html.twig" %}

{% block content %}

    <header>
        {% block header %}
            <div style="height: 110px;">
            </div>
            {% include 'common/_navbar.html.twig' %}
        {% endblock %}
    </header>
    {% block body %}
    {% endblock %}
    <footer>
        {% block footer %}
            {% include 'common/_footer.html.twig' %}
        {% endblock %}
    </footer>

{% endblock %}