{% extends 'base-front.html.twig' %}

{% block title %}{{ forum.title }}{% endblock %}

{% block body %}
<div class='container'>
  <h1 class="mt-3">{{ forum.title }}</h1>
  <p>{{ forum.createdAt|date("d/m/Y") }}</p>
  <ul>
    {% for topic in forum.topics %}
    <li>{{ topic.title }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}